{% extends 'main/layout.html' %}

{% block title %}Главная страница{% endblock %}

{% block content %}
    <div class="features">
        <h1>Новости на сайте</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores deleniti distinctio, doloremque ducimus in ipsum itaque non suscipit vel vero!</p>
        <button class="btn btn-warning">На страницу про нас</button>

        {% for el in values %}
            <p>{{el}}</p>
        {% endfor %}
    </div>
{% endblock %}
